
.hero {
    background-image: url('../images/akita_desert_rabbit(AiGemini).jpeg');
    background-size: cover;
    padding: 4rem 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}